body {
    background: #fff url(../resources/sg_grid_sub.png) center top repeat;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    font-family: courier, san-serif;
    bottom: 0px;
    height: 30;
    right: 0%;
    left: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.25%;
    position: fixed!important;
    position: absolute;
    width: 100%;
    top:expression((0-(footer.offsetHeight)+
		    (document.documentElement.clientHeight?
		     document.documentElement.clientHeight:
		     document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop?
						  document.documentElement.scrollTop:document.
											     body.scrollTop))+'px');
    text-align:center;
    visibility:visible;
    background-color: black;
}

footer a {
    color: white;
}

#about {
    font-family: courier;
    margin-bottom: 15%;
}

#about .personnel {
    margin-bottom: 5%;
    line-height: 1.1;
    letter-spacing: 0.1em;
    list-style: none;
    text-align: center;
}

.whiteonblack {
    color: white;
    background-color: black;
}
#about .tagline {
    font-size: 200%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 25%;
}